@import 'tailwindcss';


 .movie_card_link{
    @apply w-50 h-75 m-3.75 overflow-hidden rounded-md shadow-md shadow-cyan-500/50 relative transition-all duration-300 ease-in-out hover:scale-105;
}
.movie_card_link:hover .movie_details{
    @apply opacity-100;
}
.movie_poster{
    @apply w-full h-full object-cover;
}
.movie_details{
    @apply w-50 h-25 p-1.5 text-white bg-linear-to-b from-transparent to-black absolute bottom-1 opacity-0 transition-opacity duration-300 ease-in-out ;
}

.movie_title{
    @apply text-yellow-400 font-bold leading-none;
}
.movie_description{
    @apply text-xs leading-tight ;
}